@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  background: #1e1e1e;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  min-height: 100vh;
}

/* Hide scrollbar while maintaining scroll functionality */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}